@import url('https://fonts.googleapis.com/css?family=Exo+2:500');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainWrapper {
    height: 100vh;
    width: 100vw;
    font-family: 'Exo 2', sans-serif;
    position: relative;
}

.hello,
.one,
.two,
.three,
.four,
.five,
.six,
.seven {
    height: 97vh;
    width: 98vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 7px;
}

.hello {
    border: 2px solid rgb(190, 190, 190);
    box-shadow: 3px 2px 14px 2px rgb(190, 190, 190), -3px -2px 14px 2px rgb(190, 190, 190);
    background-color: black;
    background-size: contain;
    background-position: center;
    background-image: url(./images/8255549090_d75f6eb4b9_b.jpg);
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.one {
    border: 2px solid rgb(20, 158, 20);
    box-shadow: 2px 2px 14px 2px rgb(20, 158, 20), -2px -2px 14px 2px rgb(20, 158, 20);
}

.two {
    border: 2px solid rgb(197, 41, 41);
    box-shadow: 2px 2px 14px 2px rgb(197, 41, 41), -2px -2px 14px 2px rgb(197, 41, 41);
}

.three {
    border: 2px solid dimgray;
    box-shadow: 2px 2px 14px 2px dimgray, -2px -2px 14px 2px dimgray;
}

.four {
    border: 2px solid rgb(72, 117, 180);
    box-shadow: 2px 2px 14px 2px rgb(72, 117, 180), -2px -2px 14px 2px rgb(72, 117, 180);
}

.five {
    border: 2px solid rgb(46, 187, 235);
    box-shadow: 2px 2px 14px 2px rgb(46, 187, 235), -2px -2px 14px 2px rgb(46, 187, 235);
}

.six {
    border: 2px solid rgb(107, 18, 107);
    box-shadow: 2px 2px 14px 2px rgb(107, 18, 107), -2px -2px 14px 2px rgb(107, 18, 107);
}

.seven {
    border: 2px solid darkorange;
    box-shadow: 2px 2px 14px 2px darkorange, -2px -2px 14px 2px darkorange;
}

@keyframes webDevName {
    from {
        /* transform: webDevName(0deg); */
        opacity: 0;
    }
    to {
        /* transform: webDevName(360deg); */
        opacity: 1;
    }
}

@-webkit-keyframes webDevName {
    from {
        /* -webkit-transform: webDevName(0deg); */
        opacity: 0;
    }
    to {
        /* -webkit-transform: webDevName(360deg); */
        opacity: 1;
    }
}

@keyframes webDev {
    from {
        /* transform: webDev(0deg); */
        opacity: 0.3;
    }
    to {
        /* transform: webDev(360deg); */
        opacity: 1;
    }
}

@-webkit-keyframes webDev {
    from {
        /* -webkit-transform: webDev(0deg); */
        opacity: 0.3;
    }
    to {
        /* -webkit-transform: webDev(360deg); */
        opacity: 1;
    }
}

.ilian {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    text-transform: capitalize;
    font-size: 35px;
    background-color: black;
    animation: webDevName 1.4s 1;
    animation-timing-function: linear;
}

.developer {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    opacity: 0;
    text-transform: capitalize;
    font-size: 25px;
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    border-radius: 5px;
    animation: webDev 3.5s 2s 1;
    animation-timing-function: linear;
}

h3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-transform: capitalize;
    font-size: 35px;
    text-shadow: 1px 2px 4px rgb(97, 97, 97);
}

.navigation {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.navigation div {
    width: 40px;
    height: 27px;
    border-radius: 5px;
    margin: 5px;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

.selected {
    border: 2.5px solid white;
    filter: brightness(110%);
}

.colorTech {
    background-color: rgb(20, 158, 20);
    color: rgb(20, 158, 20);
}

.technologies {
    color: rgb(20, 158, 20);
    /* text-shadow: 2px 2px 3px rgb(20, 158, 20); */
}

.colorProjects {
    background-color: rgb(197, 41, 41);
    color: rgb(197, 41, 41);
}

.projects {
    color: rgb(197, 41, 41);
    /* text-shadow: 2px 2px 3px rgb(197, 41, 41); */
}

.colorGitHub {
    background-color: dimgray;
    color: dimgray;
}

.gitHub {
    color: dimgray;
    /* text-shadow: 2px 2px 3px dimgray; */
}

.colorLinkedIn {
    background-color: rgb(72, 117, 180);
    color: rgb(72, 117, 180);
}

.linkedIn {
    color: rgb(72, 117, 180);
    /* text-shadow: 2px 2px 3px rgb(72, 117, 180); */
}

.colorTwitter {
    background-color: rgb(46, 187, 235);
    color: rgb(46, 187, 235);
}

.twitter {
    color: rgb(46, 187, 235);
    /* text-shadow: 2px 2px 3px rgb(46, 187, 235); */
}

.colorResume {
    background-color: rgb(107, 18, 107);
    color: rgb(107, 18, 107);
}

.resume {
    color: rgb(107, 18, 107);
    /* text-shadow: 2px 2px 3px rgb(107, 18, 107); */
}

.colorContact {
    background-color: darkorange;
    color: darkorange;
}

.contact {
    color: darkorange;
    /* text-shadow: 2px 2px 3px darkorange; */
}

h6 {
    font-family: 'Exo 2', sans-serif;
}

.viewContent {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.more {
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 50% 50%; */
    list-style: none;
    width: 100%;
}

li {
    margin: auto;
    padding-top: 15px;
}

.row {
    width: 210px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 60px;
    border: 3px solid rgb(20, 158, 20);
    border-radius: 7px;
    box-shadow: 0px 2px 8px 2px rgb(20, 158, 20);
}

.pic {
    height: 55px;
    width: 55px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.html {
    background-image: url(./images/html.png);
}

.css {
    background-size: cover;
    background-image: url(./images/css.png);
}

.js {
    background-size: cover;
    background-image: url(./images/js.png);
}

.node {
    background-image: url(./images/node.png);
}

.react {
    background-image: url(./images/react.png);
}

.mongo {
    background-image: url(./images/mongo.png);
}

h5 {
    color: black;
    line-height: 40px;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    font-size: 1.35em;
    font-weight: bold;
    line-height: 35px;
    color: black;
    text-shadow: 2px 2px 4px darkgray;
}

.fa {
    color: black;
    padding: 3px 5px 2px 5px;
    font-size: 2em;
}

.fa-twitter {
    padding: 3px 3px 2px 4px;
}

@media (max-width: 360px) {
    h3,
    .ilian {
        font-size: 30px;
    }
    .developer {
        font-size: 20px;
    }
    .pic {
        height: 50px;
        width: 50px;
    }
    .row {
        width: 170px;
        height: 150px;
    }
    .navigation div {
        width: 35px;
        height: 25px;
        margin: 4px;
    }
}

@media (max-height: 414px) {
    .viewContent {
        top: 73%;
    }
    a {
        line-height: 30px;
    }
    .row {
        margin-top: 15px;
    }
}

@media (min-width: 414px) {
    .navigation div {
        width: 40px;
        height: 30px;
        margin: 8px;
    }
}

@media (min-width: 813px) {
    .hello,
    .one,
    .two,
    .three,
    .four,
    .five,
    .six,
    .seven {
        border-radius: 20px;
    }
    .viewContent {
        top: 60%;
    }
    h3,
    .ilian {
        font-size: 2.77em;
    }
    .developer {
        font-size: 2em;
    }
    h3:hover,
    .ilian:hover {
        cursor: pointer;
    }
    h3:hover {
        font-size: 2.75em;
        text-shadow: 1px 1px 3px;
    }
    .ilian:hover {
        opacity: 0.7;
    }
    .navigation div {
        width: 52px;
        height: 35px;
        margin: 10px;
        font-size: 1.6em;
        border: 1.5px solid white;
        border-right: 2px solid white;
        border-left: 2px solid white;
        box-shadow: 0px 2px 5px 2px rgba(128, 128, 128, 0.85);
        -webkit-transition: color .3s, box-shadow .1s;
        -o-transition: color .3s, box-shadow .1s;
        -moz-transition: color .3s, box-shadow .1s;
        transition: color .3s, box-shadow .1s;
    }
    .navigation div:hover {
        color: whitesmoke;
        cursor: pointer;
        box-shadow: 0px 1px 1px 1px rgba(128, 128, 128, 0.85);
    }
    .selected {
        color: whitesmoke;
    }
    .more {
        display: flex;
        flex-direction: row;
    }
    .row {
        width: 250px;
        height: 170px;
        padding: 10px;
        margin-top: 90px;
        /* border: 3px solid white; */
        -webkit-transition: box-shadow .7s, width .4s, height .8s, border-radius .7s;
        -o-transition: box-shadow .7s, width .4s, height .8s, border-radius .7s;
        -moz-transition: box-shadow .7s, width .4s, height .8s, border-radius .7s;
        transition: box-shadow .7s, width .4s, height .8s, border-radius .7s;
        transition-timing-function: linear;
    }
    .row:hover {
        cursor: pointer;
        width: 280px;
        height: 183px;
        border-radius: 25px;
        /* border: 3px solid rgb(20, 158, 20); */
        box-shadow: 0px 6px 12px 6px rgb(20, 158, 20);
    }
    .fa {
        font-size: 2.2em;
        border-top: 2px solid white;
        /* border-radius: 7px; */
        -webkit-transition: border-top .3s, color .1s;
        -o-transition: border-top .3s, color .1s;
        -moz-transition: border-top .3s, color .1s;
        transition: border-top .3s, color .1s;
        transition-timing-function: linear;
    }
    .fa:hover {
        color: rgb(128, 128, 128);
        border-top: 2px solid rgb(128, 128, 128);
        text-shadow: 1px 1px 1px rgb(128, 128, 128);
    }
    .envelope:hover {
        border-top: 2px solid darkorange;
        color: darkorange;
        text-shadow: 1px 1px 1px darkorange;
    }
    h5 {
        font-size: 1.5em;
        line-height: 50px;
    }
    a {
        font-size: 1.7em;
        border-top: 2px solid white;
        /* border-radius: 7px; */
        padding: 3px;
        -webkit-transition: border-top .3s, color .1s;
        -o-transition: border-top .3s, color .1s;
        -moz-transition: border-top .3s, color .1s;
        transition: border-top .3s, color .1s;
        transition-timing-function: linear;
    }
    a:hover {
        cursor: pointer;
        color: rgb(197, 41, 41);
        border-top: 2px solid rgb(197, 41, 41);
        text-shadow: 1px 1px 1px rgb(197, 41, 41);
    }
    .hoverGit:hover {
        color: dimgray;
        border-top: 2px solid dimgray;
        text-shadow: 1px 1px 1px dimgray;
    }
    .hoverLinked:hover {
        color: rgb(72, 117, 180);
        border-top: 2px solid rgb(72, 117, 180);
        text-shadow: 1px 1px 1px rgb(72, 117, 180);
    }
    .hoverTwitter:hover {
        color: rgb(46, 187, 235);
        border-top: 2px solid rgb(46, 187, 235);
        text-shadow: 1px 1px 1px rgb(46, 187, 235);
    }
    .hoverResume:hover {
        color: rgb(107, 18, 107);
        border-top: 2px solid rgb(107, 18, 107);
        text-shadow: 1px 1px 1px rgb(107, 18, 107);
    }
    .node {
        background-size: cover;
        width: 105px;
    }
}

@media (min-width: 1025px) {
    .hello {
        background-repeat: no-repeat;
        background-position: left;
    }
    .ilian {
        width: 30%;
        justify-content: right;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        padding-left: 20px;
    }
    .developer {
        top: 50%;
        left: 65%;
        /* padding: 0; */
        padding-top: 5px;
        padding-bottom: 3px;
        border-radius: 9px;
        padding-left: 130px;
        padding-right: 15px;
        border: 3px solid rgb(255, 255, 255);
    }
}

@media (min-width: 2000px) {
    h3,
    .ilian {
        font-size: 4em;
    }
    .ilian {
        padding-left: 40px;
    }
    .developer {
        font-size: 3.4em;
        padding-left: 170px;
        padding-right: 30px;
    }
    h3:hover,
    .ilian:hover {
        font-size: 4.2em;
    }
}