@import url('https://fonts.googleapis.com/css?family=Exo+2:500');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainWrapper {
    height: 100vh;
    width: 100vw;
    font-family: 'Exo 2', sans-serif;
}

.hello {
    background-color: black;
    background-size: contain;
    background-position: center;
    background-image: url(./images/8255549090_d75f6eb4b9_b.jpg);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.navigation div {
    width: 40px;
    height: 27px;
    border-radius: 5px;
    margin: 5px;
}

.selected {
    border: 5px solid white;
    filter: brightness(110%);
}

.colorTech {
    background-color: rgb(20, 158, 20);
    color: rgb(20, 158, 20);
}

.technologies {
    color: rgb(20, 158, 20);
}

@keyframes webDevName {
    from {
        /* transform: webDevName(0deg); */
        opacity: 0;
    }
    to {
        /* transform: webDevName(360deg); */
        opacity: 1;
    }
}

@-webkit-keyframes webDevName {
    from {
        /* -webkit-transform: webDevName(0deg); */
        opacity: 0;
    }
    to {
        /* -webkit-transform: webDevName(360deg); */
        opacity: 1;
    }
}

@keyframes webDev {
    from {
        /* transform: webDev(0deg); */
        opacity: 0.3;
    }
    to {
        /* transform: webDev(360deg); */
        opacity: 1;
    }
}

@-webkit-keyframes webDev {
    from {
        /* -webkit-transform: webDev(0deg); */
        opacity: 0.3;
    }
    to {
        /* -webkit-transform: webDev(360deg); */
        opacity: 1;
    }
}

.ilian {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    text-transform: capitalize;
    font-size: 35px;
    background-color: black;
    animation: webDevName 1.4s 1;
    animation-timing-function: linear;
}

p {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    opacity: 0;
    text-transform: capitalize;
    font-size: 25px;
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    border-radius: 5px;
    animation: webDev 3.5s 2s 1;
    animation-timing-function: linear;
}

h3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-transform: capitalize;
    font-size: 35px;
}

.colorProjects {
    background-color: rgb(197, 41, 41);
    color: rgb(197, 41, 41);
}

.projects {
    color: rgb(197, 41, 41);
}

.colorGitHub {
    background-color: dimgray;
    color: dimgray;
}

.gitHub {
    color: dimgray;
}

.colorLinkedIn {
    background-color: rgb(72, 117, 180);
    color: rgb(72, 117, 180);
}

.linkedIn {
    color: rgb(72, 117, 180);
}

.colorTwitter {
    background-color: rgb(46, 187, 235);
    color: rgb(46, 187, 235);
}

.twitter {
    color: rgb(46, 187, 235);
}

.colorResume {
    background-color: rgb(107, 18, 107);
    color: rgb(107, 18, 107);
}

.resume {
    color: rgb(107, 18, 107);
}

.colorContact {
    background-color: darkorange;
    color: darkorange;
}

.contact {
    color: darkorange;
}

h6 {
    font-family: 'Exo 2', sans-serif;
}

.viewContent {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.more {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    list-style: none;
    width: 100%;
}

li {
    margin: auto;
}

.row {
    width: 190px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 60px;
}

.pic {
    height: 55px;
    width: 55px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.html {
    background-image: url(./images/html.png);
}

.css {
    background-size: cover;
    background-image: url(./images/css.png);
}

.js {
    background-size: cover;
    background-image: url(./images/js.png);
}

.node {
    background-image: url(./images/node.png);
}

.react {
    background-image: url(./images/react.png);
}

.mongo {
    background-image: url(./images/mongo.png);
}

h5 {
    color: black;
    line-height: 40px;
    font-size: 1.2em;
}

.phone {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 1.35em;
    font-weight: bold;
    line-height: 35px;
    color: black;
}

.fa {
    color: black;
    padding: 3px 5px 2px 5px;
    font-size: 2em;
}

.fa-twitter {
    padding: 3px 3px 2px 4px;
}

@media (max-width: 360px) {
    h3,
    .ilian {
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
    .pic {
        height: 50px;
        width: 50px;
    }
    .row {
        width: 170px;
        height: 150px;
    }
    .navigation div {
        width: 35px;
        height: 25px;
        margin: 4px;
    }
}

@media (max-height: 414px) {
    .viewContent {
        top: 73%;
    }
    a {
        line-height: 30px;
    }
    .row {
        margin-top: 15px;
    }
}

@media (min-width: 414px) {
    .navigation div {
        width: 40px;
        height: 30px;
        margin: 8px;
    }
}

@media (min-width: 813px) {
    .viewContent {
        top: 60%;
    }
    h3,
    .ilian {
        font-size: 2.77em;
    }
    p {
        font-size: 2em;
    }
    h3:hover,
    .ilian:hover {
        font-size: 2.82em;
        cursor: pointer;
    }
    .navigation div {
        width: 52px;
        height: 33px;
        margin: 10px;
        font-family: 'Exo 2', sans-serif;
        font-size: 1.2em;
        text-align: center;
    }
    .navigation div:hover {
        color: white;
        border: 5px solid white;
        border-right: 7px solid white;
        border-left: 7px solid white;
        cursor: pointer;
    }
    .selected {
        border: 5px solid white;
        border-right: 7px solid white;
        border-left: 7px solid white;
    }
    .more {
        display: flex;
        flex-direction: row;
    }
    .row {
        width: 250px;
        height: 170px;
        padding: 10px;
        margin-top: 90px;
        border: 3px solid white;
        border-radius: 7px;
    }
    .row:hover {
        cursor: pointer;
        border: 3px solid rgb(20, 158, 20);
    }
    .fa {
        font-size: 2.2em;
        border: 2px solid white;
        border-radius: 7px;
    }
    .fa:hover {
        color: rgb(128, 128, 128);
        border: 2px solid rgb(128, 128, 128);
    }
    .envelope:hover {
        border: 2px solid darkorange;
        color: darkorange;
    }
    h5 {
        font-size: 1.5em;
        line-height: 50px;
    }
    a {
        font-size: 1.7em;
        border: 2px solid white;
        border-radius: 7px;
        padding: 3px;
    }
    a:hover {
        cursor: pointer;
        color: rgb(197, 41, 41);
        border: 2px solid rgb(197, 41, 41);
        ;
    }
    .hoverGit:hover {
        color: dimgray;
        border: 2px solid dimgray;
    }
    .hoverLinked:hover {
        color: rgb(72, 117, 180);
        border: 2px solid rgb(72, 117, 180);
    }
    .hoverTwitter:hover {
        color: rgb(46, 187, 235);
        border: 2px solid rgb(46, 187, 235);
    }
    .hoverResume:hover {
        color: rgb(107, 18, 107);
        border: 2px solid rgb(107, 18, 107);
    }
    .node {
        background-size: cover;
        width: 105px;
    }
    .phone {
        padding-top: 25px;
    }
}

@media (min-width: 1025px) {
    .hello {
        background-repeat: no-repeat;
        background-position: left;
    }
    .ilian {
        justify-content: right;
        padding-left: 20px;
    }
    p {
        top: 50%;
        left: 70%;
        padding: 0;
    }
}

@media (min-width: 2000px) {
    h3,
    .ilian {
        font-size: 4em;
    }
    .ilian {
        padding-left: 40px;
    }
    p {
        font-size: 3.4em;
    }
    h3:hover,
    .ilian:hover {
        font-size: 4.2em;
    }
}